{
  "parser": "babel-eslint",
  "plugins": ["react", "react-hooks", "jsx-a11y", "import", "jest", "prettier"],
  "extends": ["airbnb-base", "plugin:react/recommended", "plugin:json/recommended", "prettier", "prettier/react"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {
    "no-console": 1,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-nested-ternary": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "env": {
    "jest": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
